In [1]:
import pandas as pd

/home/rupamay/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
df = pd.read_csv("Combined_Pond2_val_set.csv",delimiter=',',low_memory=False)

In [4]:
df.head()
df.drop("Unnamed: 0", axis=1)

,Datetime,Temperature,Turbidity,Dissolved Oxygen,PH,Ammonia,Nitrate,Population,Fish_Length,Fish_Weight,Weight_diff
0,2021-07-31 21:07:00,24.8750,6.0,38.702,7.29424,0.56720,719.0,50.0,17.75,46.50,0.0
1,2021-07-31 21:08:00,24.9375,6.0,38.694,7.29424,0.57584,717.0,50.0,17.75,46.50,0.0
2,2021-07-31 21:09:00,24.9375,6.0,38.677,7.30332,0.56935,719.0,50.0,17.75,46.50,0.0
3,2021-07-31 21:10:00,24.8750,6.0,38.652,7.29424,0.56720,720.0,50.0,17.75,46.50,0.0
4,2021-07-31 21:11:00,24.9375,6.0,38.855,7.30332,0.53795,720.0,50.0,17.75,46.50,0.0
...,...,...,...,...,...,...,...,...,...,...,...
15432,2021-08-11 14:19:00,23.7500,88.0,4.597,7.12174,0.32721,878.0,50.0,20.49,62.56,0.0
15433,2021-08-11 14:20:00,23.8125,89.0,3.972,7.12174,0.32469,878.0,50.0,20.49,62.56,0.0
15434,2021-08-11 14:21:00,23.8125,89.0,3.374,7.11266,0.28674,853.0,50.0,20.49,62.56,0.0
15435,2021-08-11 14:22:00,23.8125,89.0,3.374,7.11266,0.28674,853.0,50.0,20.49,62.56,0.0
15436,2021-08-11 14:23:00,23.8125,89.0,10.774,7.11266,0.36175,863.0,50.0,20.49,62.56,0.0

In [5]:
df1=pd.read_csv("Weight-diff_predictions_from_gradient_boosting_today.csv",delimiter=',',low_memory=False)

In [7]:
df1.columns=["Weight_diff_Pred"]

In [8]:
df1.head()

   Weight_diff_Pred
0          0.017593
1          0.017593
2          0.017593
3          0.017593
4          0.017593

In [11]:
df['Weight_diff_Pred']=df1['Weight_diff_Pred']

In [12]:
df.head()

,Unnamed: 0,Datetime,Temperature,Turbidity,Dissolved Oxygen,PH,Ammonia,Nitrate,Population,Fish_Length,Fish_Weight,Weight_diff,Weight_diff_Pred
0,61747,2021-07-31 21:07:00,24.8750,6.0,38.702,7.29424,0.56720,719.0,50.0,17.75,46.5,0.0,0.017593
1,61748,2021-07-31 21:08:00,24.9375,6.0,38.694,7.29424,0.57584,717.0,50.0,17.75,46.5,0.0,0.017593
2,61749,2021-07-31 21:09:00,24.9375,6.0,38.677,7.30332,0.56935,719.0,50.0,17.75,46.5,0.0,0.017593
3,61750,2021-07-31 21:10:00,24.8750,6.0,38.652,7.29424,0.56720,720.0,50.0,17.75,46.5,0.0,0.017593
4,61751,2021-07-31 21:11:00,24.9375,6.0,38.855,7.30332,0.53795,720.0,50.0,17.75,46.5,0.0,0.017593

In [13]:
df.to_csv("Tableau.csv")